body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(33,33,33,1) 100%);
}

.global-container {
    display: flex;
    flex-direction: column-reverse;
    border: 10px solid rgb(126, 126, 126);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: left;
    width: 100%;
    margin: 0;
}

.rubik-ctn {
    display: flex;
    flex-direction: column;
}

.not-finished {
    transition: 0.5s;
}

.not-finished:hover {
    transform: scale(1.7);
    cursor: crosshair;
    z-index: 2;
}


.top-row, .mid-row, .bot-row {
    display: flex;
    flex-direction: row;
}

.face {
    width: 5px;
    height: 5px;
    margin: 0;
    padding: 0;
}

.not-finished:hover .face{
    outline: 1px solid black;
}

.finished {
    transition: 0.5s;
}

.blue {
    background-color: #0404fc;
}

.green {
    background-color: #04fc04;
}

.yellow {
    background-color: #fcfc04;
}

.red {
    background-color: #fc0404;
}

.orange {
    background-color: #fc9b07;
}

.white {
    background-color: #fcfbfb;
}

