.cube-table {
    border-collapse: collapse;
}

.cube-table td {
    border: 3px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
}

.mid-row{
    display: flex;
}

.top-row, .bot-row{
    margin-left: -198px;
}

.cube-2d-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}